* {
    color: #A6B0A8;
    background: #393026;
    border: none;
    border-radius: 10px;
}

.monitor {
    padding: 10px 6px;
}

.workspace {
    margin: 0 4px;
}

.index {
    color: #564B51;
    background: #393026;
    border-radius: 10px;
    padding: 3px;
}

.client {
    border-radius: var(--border-radius);
    background-color: var(--background);
    border: 3px solid var(--border-color);
}

.client_active {
    border: 3px solid #C0A080;
}
