[Unit]
Description=Rotate wallpaper and sync theme

[Service]
Type=oneshot
ExecStart=/home/alex/.config/scripts/theme/wallpaper-rotate.sh
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/run/user/1000
