[Desktop Entry]
Name=Yazi
Icon=yazi
Comment=Blazing fast terminal file manager
Terminal=false
Exec=alacritty -e yazi %u
Type=Application
MimeType=inode/directory
Categories=Utility;System;FileManager
Keywords=File;Manager;Explorer
